USE [ProyectoBD]
GO
ALTER TABLE [dbo].[JOB_HISTORY] DROP CONSTRAINT [FK_JOB_HISTORY_JOBS]
GO
ALTER TABLE [dbo].[JOB_HISTORY] DROP CONSTRAINT [FK_JOB_HISTORY_DEPARTMENTS]
GO
ALTER TABLE [dbo].[EMPLOYEES] DROP CONSTRAINT [FK_EMPLOYEES_JOBS]
GO
ALTER TABLE [dbo].[EMPLOYEES] DROP CONSTRAINT [FK_EMPLOYEES_JOB_HISTORY]
GO
ALTER TABLE [dbo].[EMPLOYEES] DROP CONSTRAINT [FK_EMPLOYEES_DEPARTMENTS]
GO
ALTER TABLE [dbo].[DEPARTMENTS] DROP CONSTRAINT [FK_DEPARTMENTS_LOCATIONS]
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP TABLE [dbo].[LOCATIONS]
GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP TABLE [dbo].[JOBS]
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP TABLE [dbo].[JOB_HISTORY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP TABLE [dbo].[EMPLOYEES]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP TABLE [dbo].[DEPARTMENTS]
GO
USE [master]
GO
/****** Object:  Database [ProyectoBD]    Script Date: 03/03/2018 09:13:38 a.m. ******/
DROP DATABASE [ProyectoBD]
GO
/****** Object:  Database [ProyectoBD]    Script Date: 03/03/2018 09:13:38 a.m. ******/
CREATE DATABASE [ProyectoBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoBD', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProyectoBD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProyectoBD_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ProyectoBD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoBD]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[department_id] [uniqueidentifier] NOT NULL,
	[department_name] [varchar](50) NULL,
	[manager_id] [varchar](50) NULL,
	[location_id] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 03/03/2018 09:13:38 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[employee_id] [uniqueidentifier] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone_number] [nchar](10) NULL,
	[hire_date] [date] NULL,
	[job_id] [uniqueidentifier] NULL,
	[salary] [money] NULL,
	[commision_pct] [smallmoney] NULL,
	[manager_id] [varchar](50) NULL,
	[department_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JOB_HISTORY]    Script Date: 03/03/2018 09:13:38 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOB_HISTORY](
	[employee_id] [uniqueidentifier] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[job_id] [uniqueidentifier] NOT NULL,
	[department_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_JOB_HISTORY] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JOBS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JOBS](
	[job_id] [uniqueidentifier] NOT NULL,
	[job_title] [varchar](50) NULL,
	[min_salary] [money] NULL,
	[max_salary] [money] NULL,
 CONSTRAINT [PK_JOBS] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 03/03/2018 09:13:38 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[location_id] [varchar](50) NOT NULL,
	[street_address] [nchar](10) NULL,
	[postal_code] [int] NULL,
	[city] [varchar](50) NULL,
	[state_province] [varchar](50) NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [PK_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_LOCATIONS] FOREIGN KEY([location_id])
REFERENCES [dbo].[LOCATIONS] ([location_id])
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [FK_DEPARTMENTS_LOCATIONS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_DEPARTMENTS] FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENTS] ([department_id])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_DEPARTMENTS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_JOB_HISTORY] FOREIGN KEY([employee_id])
REFERENCES [dbo].[JOB_HISTORY] ([employee_id])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_JOB_HISTORY]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_JOBS] FOREIGN KEY([job_id])
REFERENCES [dbo].[JOBS] ([job_id])
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_JOBS]
GO
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_DEPARTMENTS] FOREIGN KEY([department_id])
REFERENCES [dbo].[DEPARTMENTS] ([department_id])
GO
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_DEPARTMENTS]
GO
ALTER TABLE [dbo].[JOB_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_JOB_HISTORY_JOBS] FOREIGN KEY([job_id])
REFERENCES [dbo].[JOBS] ([job_id])
GO
ALTER TABLE [dbo].[JOB_HISTORY] CHECK CONSTRAINT [FK_JOB_HISTORY_JOBS]
GO
USE [master]
GO
