USE [Prueba2018]
GO
/****** Object:  Table [dbo].[aa]    Script Date: 02/17/2018 10:08:40 ******/
DROP TABLE [dbo].[aa]
GO
/****** Object:  Table [dbo].[aa]    Script Date: 02/17/2018 10:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aa](
	[aa] [nchar](10) NULL
) ON [PRIMARY]
GO
